App.css
.container {
  margin-top: 50px;
  background-color: #f0f0f0; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #333;
}

.input-row {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
}

.input-group input {
  margin-right: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff; 
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.list-item button {
  margin-left: 5px;
}

.list-item:hover {
  background-color: #f0f0f0; 
}

.list-item .btn-delete {
  background-color: #dc3545; 
  border-color: #dc3545;
  color: #fff;
}

.list-item .btn-edit {
  background-color: #17a2b8; 
  border-color: #17a2b8;
  color: #fff;
}
